<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Create a Custom Postcard!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <h1>Fill in all of the fun words!</h1>
  <form action="/themadlib" method="post">
    <label for="nameone">Coder One's Name</label>
    <input id="nameone" name="nameOne" type="text">
    <label for="nametwo">Second Coder's Name</label>
    <input id="nametwo" name="nameTwo" type="text">
    <label for="namethree">Third Coder's Name</label>
    <input id="namethree" name="nameThree" type="text">
    <label for="CompanyOne">Name of a company:</label>
    <input id="CompanyOne" name="companyOne" type="text">
    <label for="CompanyTwo">Name of another company:</label>
    <input id="CompanyTwo" name="companyTwo" type="text">
    <label for="CompanyThree">Name of ANOTHER company:</label>
    <input id="CompanyThree" name="companyThree" type="text">
    <label for="JobOneAdj">Adjective:</label>
    <input id="JobOneAdj" name="jobOneAdj" type="text">
    <label for="JobTwoAdj">Adjective:</label>
    <input id="JobTwoAdj" name="jobTwoAdj" type="text">
    <label for="JobThreeAdj">Adjective:</label>
    <input id="JobThreeAdj" name="jobThreeAdj" type="text">
    <label for="BootCamp">PROPER NOUN:</label>
    <input id="BootCamp" name="bootCamp" type="text">
    <button type="submit">Go!</button>
  </form>
</body>

</html>